<section id="careers-main">
  <div class="row">
    <div class="columns large-12 medium-12 small-12 xsmall-12 text-center">
      <h1 class="beta">DONATE</h1>

      <div class="careers-description">
        <p class="text-center first">We are looking to groom the next generation of leaders and have high expectations from all our team members.</p>
        <p class="text-center second">Please consider donating to help us make a difference.</p>
      </div>
    </div>
  </div>
</section>

<section class="donate amountSelection">
  <div class="center_aligner">
    <h3 id="payment-heading" style="color:#fff;">Please select an amount to donate:</h3>
    <div class="job-description large-12 medium-12 small-12 xsmall-12 text-left">
      <div class="row" style="width:100%; max-width:500px;">
        
          <div class="row form-row" style="text-align:center;">
              <div class="amount-suggestion">100</div>
              <div class="amount-suggestion">250</div>
              <div class="amount-suggestion">500</div>
              <div class="amount-suggestion">1000</div>
          </div>

          <div class="row form-row" style="margin-top:50px;">
              <input type="text" size="20" name="other_amount" placeholder="Other Amount"/>
              <span class="donate_label">Other Amount</span>
          </div>

          <div class="row form-row" style="float:right;width:100%; max-width:500px;margin:0 auto;margin-bottom:50px;margin-top:50px;">
            <button class="button next" type="submit" style="float:right;">Next</button>
          </div>


        </div>
    </div>
  </div>
</section>

<section class="donate payment">
  <div class="center_aligner">
    <h3 id="payment-heading" style="color:#fff;">Please Donate here:</h3>
    <div class="job-description large-12 medium-12 small-12 xsmall-12 text-left">
      <form action="" method="POST" id="payment-form">
        
        <div class="row payment-error-row">
          <span class="row form-row payment-errors"></span>
        </div>

        <div class="row" style="width:100%; max-width:500px;">

          <div class="row form-row">
              <input type="text" size="20" name="amount" placeholder="Amount"/>
              <span class="donate_label">Amount</span>
          </div>

          <div class="row form-row">
              
              <input type="text" size="20" data-stripe="number" placeholder="Card Number"/>
              <span class="donate_label">Card Number</span>
          </div>

          <div class="row form-row">
              
              <input type="text" size="4" data-stripe="cvc" placeholder="CVC"/>
              <span class="donate_label">CVC</span>
          </div>

          <div class="row form-row">              
              <select class="donate_select dirty" data-stripe="exp-month"></select>
              <span class="exp_slash">/</span>
              <select data-stripe="exp-year" class="dirty"></select>
              <span class="donate_label">Expiration (MM/YYYY)</span>
          </div>

          <div class="row form-row">              
              <input type="text" size="100" name="name" placeholder="Name"/>
              <span class="donate_label">Name</span>
          </div>

          <div class="row form-row">              
              <input type="email" size="60" name="email" placeholder="Email"/>
              <span class="donate_label">Email</span>
          </div>

<!--
          <div class="row form-row" style="margin-bottom:20px;">
            <label>
              <input type="checkbox" name="recurring"/>
              <span>Set up recurring payments</span>
            </label>
          </div>
-->

          <div class="row form-row" style="float:right;width:100%; max-width:500px;margin:0 auto;margin-bottom:50px;margin-top:50px;">
            <button class="button process" type="submit" style="float:right;">Submit Payment</button>
          </div>


        </div>
      </form>
    </div>
  </div>
</section>

<section class="donate process">
    <div class="center_aligner" class="donate loading">
        <h3 id="payment-heading" style="color:#fff;">Processing your payment...</h3>
        <div class="meter green animate">
			<span style="width: 100%"><span></span></span>
		</div>
        <p style="max-width:450px;color:#fff;margin-top:50px;margin-bottom:200px;">Please wait while your payment is being processed. Please don't hit the browser back button while your payment is being processed.</p>
    </div>
</section>

<section class="donate thanks">
    <div class="center_aligner">
        <h3 id="payment-heading" style="color:#fff;">Thank you for your donation!</h3>
        <p style="max-width:450px;color:#fff;margin-top:50px;margin-bottom:250px;">Thank you for your generous donation! You should receive a receipt for your payment at the email that you entered earlier.</p>
    </div>
</section>

<section class="donate declined">
    <div class="center_aligner">
        <h3 id="payment-heading" style="color:#fff;">Sorry! But we were unable to process your payment.</h3>
        <p style="color:#fff;margin-top:50px;">Please check to make sure you entered your details correctly.</p>
        <div class="row form-row" style="margin-bottom:20px;margin-top:50px;float:right;margin-bottom:200px;">
          <button class="button" onclick="location.reload();">Try Again</button>
        </div>
    </div>
</section>

<script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous">\x3C/script>')</script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('<%=@publishable_key%>');
  $(document).ready(function(){
    initializeExpirationFields(); 
    enableSubmit();
  });
  
  function initializeExpirationFields(){
      $(".donations input").off("keyup").on("keyup", function(){
        if($(this).val().length > 0){
          $(this).addClass("dirty");
        }else{
          $(this).removeClass("dirty");
        }
      });  
    
    var html = "";
      for(var i=1; i < 13; i++){
        var month = i;
        if((month + "").length == 1){
          month = "0" + month;
        }
        html += "<option val='" + month + "'>" + month + "</option>";
      }
      $("[data-stripe='exp-month']").html(html);
      var currentMonth = (new Date()).getMonth() + 1 + "";
      currentMonth = currentMonth.length < 2 ? "0" + currentMonth : currentMonth;
      $("[data-stripe='exp-month']").val(currentMonth);
    
      html = "";
      for(var i=0; i < 50; i++){
        html += "<option val='" + (2016 + i) + "'>" + (2016 + i) + "</option>";
      }
    
      $("[data-stripe='exp-year']").html(html);
    
    }
    
    
    function enableSubmit(){
      
      var amount = 0;
      
      $(".amount-suggestion").off("click").on("click", function(){
          if($(this).hasClass("selected")){
              $(".amount-suggestion").removeClass("selected").removeClass("non-selected");
          }else{
              $(this).removeClass("non-selected").addClass("selected");
              $(this).siblings().removeClass("selected").addClass("non-selected");    
          }
      })
      
      $("button.next").off("click").on("click", function(){
        if($(".amount-suggestion.selected").length > 0){
            amount = $(".amount-suggestion.selected").text();
        }else{
            amount = $("[name='other_amount']").val();
        }
        if(amount == 0 || isNaN(amount)){
            alert("Please enter a valid amount!");
        }else{
            $(".donate").hide();
            $(".donate.payment").show();
            $("[name='amount']").val(amount).addClass("dirty");
        }
        
      });
      
      $('#payment-form').off("submit").on("submit", function(event) {
      var $form = $(this);
      
      $(".payment-error-row").hide();
      $form.find('button').prop('disabled', true);
        
      var email = $("[name='email']").val();
      var name = $("[name='name']").val();
        
      if(name.trim() === "" || email.trim() === ""){
          $(".payment-errors").text("Name and Email are required.").parent().show();
          $form.find('button').prop('disabled', false);
      }else{
          Stripe.card.createToken($form, function(status, response){
          if(response.error !== undefined && response.error.message != ""){
            $(".payment-errors").text(response.error.message).parent().show();
            $form.find('button').prop('disabled', false);
          }else{
            $form.find('button').prop('disabled', false);
            var amount = $("[name='amount']").val();
            if(isNaN(amount)){
              alert("Amount is not valid");
            }else{
              amount = 100 * parseFloat($("[name='amount']").val());
              var email = $("[name='email']").val();
              var name = $("[name='name']").val();
              var recurring = $("[name='recurring']").val();
              $(".donate").hide();
              $(".donate.process").show();
              $.ajax({
                url: "/pay",
                method: "GET",
                data: { stripeToken : response.id , amount: amount, email: email, name: name, recurring: recurring},
                dataType: "html",
                success: function(data){
                  if(data == "accepted"){
                    $("#payment-heading").text("Your payment was accepted. Thank you for your donation!");
                    $(".job-description").remove();
                    $(".donate").hide();
                    $(".donate.thanks").show();
                  }else{
                    $(".payment-errors").text("Sorry, but your card was declined.");
                    $(".donate").hide();
                    $(".donate.declined").show();
                  }
                },
                error: function(error){
                  console.log(error);
                }
              });
            }
          }
        });
      }
      return false;
    });
  }  
  // ...
</script>

